transformers==4.5.0
torch==1.6.0
tqdm==4.48.2
seaborn==0.11.0
umap_learn==0.5.1
matplotlib==3.3.2
numpy==1.19.5
Keras==2.4.3
nltk==3.5
datasets==1.5.0
scikit_learn==0.24.2
umap==0.1.1
vaderSentiment==3.3.2
